<h3>[The Wants] 댓글 이메일 알림</h3>

<p>아래와 같은 내용의 댓글이 성공적으로 작성되었습니다.</p>
<p>감사합니다.</p>

<hr>
<h4>대상글</h4>
<%= link_to @commentable.class.name, @commentable %>
<hr>
<h4>댓글</h4>
<p><%= simple_format @comment.content %></p>
<hr>
<br />

작성일시 : <%= Time.zone.now %>

<p>RORLAB 관리자 (rorlab@gmail.com)</p>
