<div class="col-md-6 col-md-offset-3" style='padding:2em 0;'>
<h3>도움말</h3>
<p><b>더 원츠<sup>&reg;</sup></b>는 루비 개발자들의 구인과 구직을 돕기 위한 무료 서비스입니다.</p>

<p>국내에서 루비 개발자들을 구하기 힘들고 루비 개발자들은 개발업체를 찾기가 힘들다는 점에 착안하여 이 서비스를 준비하게 되었습니다.</p>

<p>구인과 구직 두가지 기능을 핵심 기능으로 구현하였으며 이 서비스를 사용하기 위해서는 회원가입 후 각자의 프로필에서 개발 이력를 작성하여 언제든지 필요시에 구인과 구직 글을 남길 때 바로 사용할 수 있도록 했습니다. 물론, 개인 프로필의 공개 여부를 변경할 수 있으며, 구직신청서 작성 및 인터뷰 요청은 작성자 및 원문 작성자만 볼 수 있도록 했습니다.</p>

<div style='text-align:center;margin-top: 3em;'>
  <p>2015.1.5</p>
  <p>Lucius</p>
</div>
</div>

