// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments {
  margin-bottom: 1em;
}
.comment {
  margin-bottom: .5em;
  .status {
    text-align: right;
    font-size: .8em;
    margin-top: .5em;
    border-top: 1px solid #eaeaea;
    padding-top: 0.5em;
  }
}

.comment_content {
  margin-bottom: 0;
}
.comment_form form, .comment_form_engage form {
  padding-left: 2.5em;
  overflow:auto;
}