.header {
  margin-top:1em;
  position:relative;
  .help {
    position:absolute;
    bottom: .5em;
    right: 1em;
  }
  .login_status {
    position:absolute;
    top:.5em;
    right: 1em;
  }
}

.form-actions {
  background-color: #eaeaea;
  border-top:1px solid darken(#eaeaea, 20%);
  padding:1em 1em 1.5em 1em;
  margin:2em 0 1.5em;
}
.form-inputs fieldset {
  border:1px solid #eaeaea;
  border-radius: 5px;
  padding:0 1em;
  legend {
    padding:.2em .5em;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    background-color: lighten(#eaeaea, 5%);
    font-weight:800;
    color:#bebebe;
  }
}