.homepage-header {
   padding-top:1em;padding-left:2em; padding-right:2em;
   margin-bottom:2em;
   background-image: asset-url('people.jpg');
   background-position: top 30px center;
   height: 16em;
}
.main_link {
  margin: 2em 0;
  border-collapse: separate;
  padding:0 1em;
  font-family: 'Jeju Hallasan', serif;
  .jobs { margin-bottom: 2em; }
  a {
    font-size:5em;
    line-height: 1.2em;
    padding:1.5em 0 1.5em;
    // width:100% !important;
    border-radius: 5px;
    border: 1px solid $theme-main-color;
    display:block;
    text-align: center;
    &:hover {
      text-decoration: none;
      background-color: $theme-main-color;
      color: white;
    }
  }
}
