<%= content_for :main_content do %>
    <div class="col-md-4 col-md-offset-4" style="padding-top:3em;">
      <%= flash_messages %>

      <%= yield %>

    </div>
<% end %>

<%= render template: 'layouts/application' %>